* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(0, 0, 20);
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    margin-left: 25px;
}

body {
    background: linear-gradient(to bottom, rgb(255, 255, 255) 85%, rgb(20, 20, 20) 100%);
    height: 100vh;
}

.radio_container {
    position: relative;
    float: right;
    z-index: 2;
    margin: 10px;
    padding: 15px;
    background-color: whitesmoke;
    border: double 5px black;
    display: flex;
}

.radio_container span {
    display: grid;
    margin-right: 10px;
}

input {
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(0, 0, 20);
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
}

.credits {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.credits a {
    color: rgb(255, 255, 255);
    pointer-events: auto;
}

#easter-egg {
    float: inline-end;
}

#fnaf {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
